.aside {
    width: 270px;
    height: 100%;
    background-color: #fdf9ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: 1.5px solid #e8dfec;
    padding: 30px;
    line-height: 150px;
    transition: all 1s ease;

    & .logo {
        padding: 30px 0;
        text-align: center;

        & a{
            font-size: 2.6rem;
            color: #302e4d;
            font-family: 'Rubik', sans-serif;
            font-weight: map-get($font-weights, bold);
            text-decoration: none;
            display: inline-block;
            // background-color: #ededed;
            position: relative;
            padding: 0 15px;
            line-height: 60px;

            &::before {
                content: '';
                height: 20px;
                width: 20px;
                position: absolute;
                top: 0;
                left: 0;
                border-top: 4px solid $redPink;
                border-left: 4px solid $redPink;
            }
            &::after {
                content: '';
                height: 20px;
                width: 20px;
                position: absolute;
                bottom: 0;
                right: 0;
                border-bottom: 4px solid $redPink;
                border-right: 4px solid $redPink;
            }
        }
    }

    & .nav-toggler {
        height: 40px;
        width: 40px;
        border: 1px solid #d4d4e3;
        cursor: pointer;
        position: fixed;
        left: 300px;
        top: 30px;
        z-index: 11;
        border-radius: 5px;
        background-color: #fdf9ff;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        & span{
            height: 2px;
            width: 16px;
            display: inline-block;
            background-color:$redPink;
            position: relative;
        }
        & span::before {
            content: '';
            height: 2px;
            width: 16px;
            position: absolute;
            top: -6px;
            left: 0;
            background-color:$redPink;
        }

        & span::after {
            content: '';
            height: 2px;
            width: 16px;
            position: absolute;
            top: 6px;
            left: 0;
            background-color:$redPink;
        }
        
    }

    & .nav {
        list-style: none;
        margin: 80px 0;
        padding: 0;
        // text-align: center;

        & li{
            display: block;

            & a{
                font-size: 1rem;
                font-weight: map-get($font-weights, medium);
                line-height: 55px;
                color: #302e4d;
                text-decoration: none;
                display: block;
                border-bottom: 1px solid #e8dfec;
                transition: all 0.5s ease;
                text-transform: capitalize;

                &:hover, &.active {
                    padding-left: 5px;
                    color: $redPink;
                }
                & .fa{
                    margin-right: 5px;
                }
            }
        }
    }

    & .copyright-text{
        bottom: 0;
        font-size: 16px;
        color: #7d7d7d; 
    }
}