.section .container .row{
    padding-top: 60px;
    display: flex;
}

.contact {
    & .contact-info-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        text-align: center;

        & .icon{
            display: inline-block;

            & .fa{
                font-size: 40px;
                color: $redPink;
            }
        }

        & h4{
            font-size: 18px;
            font-weight: map-get($font-weights,bold);
            color: #302e4d;
            text-transform: capitalize;
            margin: 15px 0 5px;
        }

        & p {
            font-size: 16px;
            line-height: 25px;
            color: #504e70;
            margin: 0;
            font-weight: map-get($font-weights, 'regular');
        }
    }

    & .contact-form{
        flex: 0 0 100%;
        max-width: 100%;

        & .col-6{
            flex: 0 0 50%;
            max-width: 50%;
        }

        & .col-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        & .form-item .form-control {
            width: 100%;
            height: 50px;
            border-radius: 25px;
            border: 1px solid #d4d4e3;
            padding: 10px 25px;
            font-size: 16px;
            color: #504e70;
        }

        & .form-item textarea.form-control {
            height: 140px;
        }
    }
}

.btn {
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    font-weight: map-get($font-weights,medium);
    margin: 15px;
    margin-left: 0;
    background-color: $redPink;
    color: #e8dfec;
    padding: 15px 35px;
    border-radius: 65px;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
    height: 60px;   
    width: 200px;

    &:hover {
        transform: scale(1.1);
    }
 }